.featured-post {
  img {
    width: 100%;
    height: auto;
  }
  .featured-content {
    .category {
      background-color: #222;
      padding: 5px 10px;
      color: white;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.6px;
      margin-top: 12px;
      display: inline-block;
    }
    .featured-title {
      color: #333;
      font-size: 26px;
      font-weight: 600;
      margin-top: 6px;
      margin-bottom: 6px;
      width: 78%;
    }
    .featured-meta {
      display: flex;
      column-gap: 20px;
      .user-area,
      .calendar-area {
        display: flex;
        column-gap: 5px;
        align-items: center;
        color: #222;
        font-size: 14px;
        font-weight: 400;
        img {
          width: 14px;
        }
      }
    }
    .featured-description {
      width: 71%;
    }
    .read-more-btn {
      padding: 8px 14px;
      background-color: #fff;
      border: 1px solid #4e4f52;
      cursor: pointer;
    }
  }
}

/* ===================
   Responsive Styles
=================== */
@media only screen and (max-width: 992px) {
  .featured-post {
    .featured-content {
      .featured-title {
        width: 100%;
        font-size: 18px;
        margin-top: 12px;
        margin-bottom: 12px;
      }
      .category,
      .featured-description,
      .read-more-btn {
        display: none;
      }
    }
  }
}
